
*.db
*.db*
*.csv
.vs*
*.__pycache__
*.npy
checkpoints/checkpoint
*.data-00000-of-00001
*.index
*.pb
requirements.txt
.idea/workspace.xml
.idea/vcs.xml
.idea/Protein-Active-Site-w-ML.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
